@use '../../assets/scss/utils' as *;

.sidebar.inactive{
  width:80px;
  min-width:80px;
  height:100%;
  z-index:0;

  @include responsive('medium'){
    min-width:140px;
    width:140px;
    
  }

   .sidebar__top__area{

      &__logo{
        img:nth-child(2){
          display:none;
        }
      }
    }

    .sidebar__menu{
      &__item{
        &__area{
          
          &__list{
            &__text{
              display:none;
            }
          }
        }
      }
    }
}

