@use '../../assets/scss/utils' as *;

.icon{
  font-size:1.5rem; /*24px*/
  width:24px;
  height:24px;
  position:relative;
  margin-top:6px;

  @include responsive('medium'){
    font-size:1.8rem; /* 28.8px */
  }

    &__active{
      color:map-get($colors, text, primary);
    }
    &__normal{
      color:map-get($colors, text, primary);
    }
  
}