@use "../../assets/scss/utils" as *;

.table__wrapper{
  margin:0;
  padding:0;
  width:calc(100% - 5px);
 
  table{
   width:100%;
    margin:0 auto;
    border-collapse:collapse;
    //background-color:limegreen;
   thead{
    tr{
      th{
        padding:10px 0;
      // border:1px solid red;
        text-transform: capitalize;
       
      }
    
  
    }
   }
    tbody{
      width:100%;
     tr{
       td{
         padding:10px 0px;
         text-transform: capitalize;
         //border:1px solid purple;
         
       }
       &:hover{
        cursor:pointer;
        background-image:-webkit-linear-gradient(to right, map-get($colors, background, darkBlue), map-get($colors, background, light));
        background-image:-moz-linear-gradient(to right, map-get($colors, background, darkBlue), map-get($colors, background, light));
        background-image:-ms-linear-gradient(to right, map-get($colors, background, darkBlue), map-get($colors, background, light));
        background-image:-o-linear-gradient(to right, map-get($colors, background, darkBlue), map-get($colors, background, light));
        background-image:linear-gradient(to right, map-get($colors, background, darkBlue), map-get($colors, background, light));

      }  
       }
       
     }
    }
  }


